*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background: #ecf0f3;
}
.login-div{
    width: 300px;
    height: 500px;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px  #cbced1, -13px -13px 20px #ffffff;
}
.logo{
    background: url(/img/ayo-ogunseinde-1L5QpkSs5IU-unsplash.jpg);
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow:
    /*box shadow*/
    0 0 2px #5f5f5f,
    /*offset*/
    0 0 0 5px #ecf0f3,
    /*bottom right*/
    8px 8px 15px #a7aaaf,
    /*top-left*/
    -8px -8px 15px #ffffff;
}
.title{
    text-align: center;
    font-size: 28px;
    padding-top: 24px;
    letter-spacing: 0.5px;
}
.sub-title{
    text-align: center;
    font-size: 15px;
    padding-top: 7px;
    letter-spacing: 3px;
}
.fields{
    width: 100%;
    padding: 45px 5px 5px 5px;
}
.fields input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 10px 5px 5px 5px;
}
.username, .password{
    margin-bottom: 20px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #fff;
}
.signin-button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 35px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: cursive;
    color: #fff;
    text-align: center;
    background: #e05297;
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #ffffff; 
    transition: 0.5s;
}
.signin-button:hover{
    background: #e93b8f;
}
.signin-button:active{
    background: #e92584;
}
.link{
    padding-top: 20px;
    text-align: center;
}
.link a{
    text-decoration: none;
    color: #aaa;
    font-size: 15px;
}